.contains {
    display: flex;
    justify-content: space-between;
    border: solid 1px red;
}

.nat-card {
    border: solid 1px #264653;
    margin: 10px 40px;
    text-align: center;
    background-color: #2a9d8f;
    color: #eeeeee;
    font-family: Arial;
    width: 350px;


}

.contenant {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: gainsboro;
    border: solid 1px red;
}

.img {
    margin: 20px;
}