<div class="toolbar">
    <table>
        <!--thead>
            <tr>
                <th data-col="id">     Id</th>
                <th data-col="prenom"> Prénom</th>
                <th data-col="nom">    Nom</th>
                <th data-col="mail">   Mail</th>
                <th data-col="avatar"> Avatar</th>
            </tr>
        </thead-->
        <tbody>
            <app-ligne-liste-customers *ngFor="let user of users" [currentUser]="user"></app-ligne-liste-customers>
        </tbody>
    </table>
</div>

